<div class="top-header">
  <div class="title">
    Workshop in Macroeconomics
  </div>
  <div class="title-two">
    at Liberal Arts Colleges 2013
  </div>
  <div class="title-three">
    <a href="http://www.claremontmckenna.edu">Claremont Mckenna College</a>
  </div>
</div>

<div class="top-of-page-two">
     <div class="header-text">
       <div class="spacing">
         <%= link_to "Home", root_path, style: "color: #EBEBEB"%>
       </div>
       <div class="spacing">
         <%= link_to "Accommodations", accommodations_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing">
         <%= link_to "Directions", directions_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing">
         <%= link_to "Call for Papers", data_files_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing">
         <%= link_to "Register", new_registrant_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing2">
         <%= link_to "Conference Schedule", schedule_path, style: "color: #EBEBEB" %>
       </div>
     </div>
</div>

<!--<header>-->
<!--<header class="navbar navbar-fixed-top">-->
  <!--<div class="navbar-inner">-->
    <!--<div class="container">-->
      <!--<%= link_to "Macroeconomic", root_path, id: "logo" %>-->
      <!--<nav>-->
        <!--<ul class="nav pull-right">-->
          <!--<li><%= link_to "Home", root_path %></li>-->
          <!--<li><%= link_to "Help", help_path %></li>-->
          <!--<% if signed_in? %>-->
            <!--<li><%= link_to "Users", users_path %></li>-->
            <!--<li id="fat-menu" class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--Account <b class="caret"></b>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><%= link_to "Profile", current_user %></li>-->
                <!--<li><%= link_to "Settings", edit_user_path(current_user) %></li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                  <!--<%= link_to "Sign out", signout_path, method: "delete" %>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--<% else %>-->
            <!--<li><%= link_to "Sign in", signin_path %></li>-->
          <!--<% end %>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->